body{
    text-align: center;
    background-color: rgba(104, 235, 52, 0.377);
}

.game-name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.sqbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.5rem;
    background-color: rgba(5, 83, 9, 0.205);
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;

}

.sqbox:hover{
    cursor:pointer;
}

.message{
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.rowh{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    margin-top: 5rem;
}

.btn{
    padding: 0.1rem 0.5rem;
}


button:focus,
button:active,
button:hover
.btn.active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.green{
    background-color: green;
}

.red{
    background-color: rgba(211, 24, 24, 0.74);
    padding: 0.5rem 2rem;
}
